@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  position: relative;
  background-color: #d1d1d1;
  box-sizing: border-box;
  border-top: solid 30px #116584;
  border-bottom: solid 30px #116584;
  overflow: hidden;
}

.Top {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: #9e9e9e;
  color: #474545;
  border-radius: 30px 30px 225px 30px;
  margin-top: -100px;
  margin-left: -75px;
  font-family: "Anton", sans-serif;
}
.Top h3 {
  margin-left: 100px;
  margin-top: 100px;
  font-size: 25px;
  width: 100px;
  line-height: 60px;
}
.Top h3 span {
  background-color: gary;
  font-size: 50px;
}

.screen {
  width: 100%;
  height: 100%;
  left: 100%;
}

.namecard {
  position: fixed;
  width: 300px;
  height: 200px;
  left: 60%;
  top: 50%;
  padding: 0px 20px 30px 20px;
  overflow: hidden;
  background-color: #9e9e9e;
  color: #474545;
  border: solid 1px rgba(0, 0, 0, 0.15);
  box-shadow: 20px 25px 15px -15px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-family: "Noto Sans TC", sans-serif;
  transition: 0.5s;
}
.namecard hr {
  border-color: #fff;
  margin-top: -15px;
  margin-bottom: 20px;
}
.namecard h2 {
  font-size: 25px;
}
.namecard span {
  font-size: 18px;
}
.namecard h5 {
  font-size: 16px;
  font-weight: 400;
}

.namecard:hover {
  transform: translate(-50px, -50px);
  box-shadow: -20px -25px 15px -15px rgba(0, 0, 0, 0.5);
}

.allbub {
  width: 100%;
  height: 100%;
  border-radius: 0px;
  z-index: -3;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #333;
}
@keyframes falling {
  0%,
    100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    transform: translate(100%, 0px);
  }
  100% {
    transform: translate(0px, 100px);
  }
}
.allbub [class*="bub"] {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  animation: falling 2s infinite;
}
.allbub .bub1 {
  position: absolute;
  left: 33.3678283704%;
  top: 30.9680140136%;
  animation-delay: -0.1s;
}
.allbub .bub2 {
  position: absolute;
  left: 2.8656065795%;
  top: 21.4492361123%;
  animation-delay: -0.2s;
}
.allbub .bub3 {
  position: absolute;
  left: 45.4241302836%;
  top: 73.3842834229%;
  animation-delay: -0.3s;
}
.allbub .bub4 {
  position: absolute;
  left: 80.965794769%;
  top: 58.4286588863%;
  animation-delay: -0.4s;
}
.allbub .bub5 {
  position: absolute;
  left: 96.7562025038%;
  top: 6.6265710465%;
  animation-delay: -0.5s;
}
.allbub .bub6 {
  position: absolute;
  left: 3.6528775648%;
  top: -8.8219890934%;
  animation-delay: -0.6s;
}
.allbub .bub7 {
  position: absolute;
  left: 49.548018158%;
  top: 8.3867191512%;
  animation-delay: -0.7s;
}
.allbub .bub8 {
  position: absolute;
  left: 94.2861109858%;
  top: 38.1314098476%;
  animation-delay: -0.8s;
}
.allbub .bub9 {
  position: absolute;
  left: 6.4608145734%;
  top: 72.4218904747%;
  animation-delay: -0.9s;
}
.allbub .bub10 {
  position: absolute;
  left: 60.170651941%;
  top: 31.8480265591%;
  animation-delay: -1s;
}
.allbub .bub11 {
  position: absolute;
  left: 64.2714460526%;
  top: 79.3660098074%;
  animation-delay: -1.1s;
}
.allbub .bub12 {
  position: absolute;
  left: 27.8149035591%;
  top: 20.0978977498%;
  animation-delay: -1.2s;
}
.allbub .bub13 {
  position: absolute;
  left: 75.9618975104%;
  top: 17.4384937471%;
  animation-delay: -1.3s;
}
.allbub .bub14 {
  position: absolute;
  left: 85.1863090962%;
  top: 67.0667317307%;
  animation-delay: -1.4s;
}
.allbub .bub15 {
  position: absolute;
  left: 21.0012718626%;
  top: 13.7420761862%;
  animation-delay: -1.5s;
}
.allbub .bub16 {
  position: absolute;
  left: 63.4715482268%;
  top: 39.3355031285%;
  animation-delay: -1.6s;
}
.allbub .bub17 {
  position: absolute;
  left: 24.1098553449%;
  top: 87.4109452144%;
  animation-delay: -1.7s;
}
.allbub .bub18 {
  position: absolute;
  left: 51.4875290584%;
  top: 50.6756823296%;
  animation-delay: -1.8s;
}
.allbub .bub19 {
  position: absolute;
  left: 10.3102817482%;
  top: 41.4931843637%;
  animation-delay: -1.9s;
}
.allbub .bub20 {
  position: absolute;
  left: 21.7261257605%;
  top: 65.4328687595%;
  animation-delay: -2s;
}

@keyframes back {
  0% {
    background-color: #bdfcf1;
  }
  25% {
    background-color: #bdfcf1;
  }
  50% {
    background-color: #bdfcf1;
  }
  75% {
    background-color: #bdfcf1;
  }
  100% {
    background-color: #bdfcf1;
  }
}
.allbub {
  animation: back 8s infinite;
}

@keyframes title {
  0% {
    margin-top: -200px;
    margin-left: -300px;
  }
  50% {
    margin-top: -75px;
    margin-left: -50px;
  }
  100% {
    margin-top: -100px;
    margin-left: -75px;
  }
}
.Top {
  animation-name: title;
  animation-duration: 1.5s;
}

.head1 {
  position: absolute;
  left: 497px;
  top: 200px;
  width: 160px;
  height: 160px;
  border-radius: 100%;
  background-color: #FFFFFF;
}

.head2 {
  position: absolute;
  left: 902px;
  top: 200px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #FFFFFF;
}

.hhhh {
  position: fixed;
  left: 500px;
  top: 280px;
  width: 550px;
  height: 450px;
  background: #FFFFFF;
}

.face {
  position: fixed;
  left: 580px;
  top: 340px;
  width: 400px;
  height: 330px;
  background: #F9DDAA;
  border-radius: 30px;
}

.eyes {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 650px;
  top: 400px;
  border-radius: 50%;
  background-color: black;
}

.eyes2 {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 850px;
  top: 400px;
  border-radius: 50%;
  background-color: black;
}

.cc1 {
  position: absolute;
  width: 80px;
  height: 55px;
  left: 600px;
  top: 540px;
  border-radius: 50%;
  background-color: #F98AF9;
}

.cc2 {
  position: absolute;
  width: 80px;
  height: 55px;
  left: 880px;
  top: 540px;
  border-radius: 50%;
  background-color: #F98AF9;
}

.month {
  position: absolute;
  width: 120px;
  height: 70px;
  left: 720px;
  top: 550px;
  border-radius: 50%;
  background-color: #FF0000;
}
